* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 100%;
    color: #333;
}
.container {
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
}
.row {
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}
.row:after {
    content: '';
    display: block;
    clear: both;
}
.col-12 {
    width: 100%;
}

/* header */
header {
    position: fixed;
    z-index: 100;
    height: 72px;
}
.logo{
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 101;
}
.logo a {
    display: block;
}
.logo a img {
    width: 150px;
}

/* nav */
nav{
    position: relative;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(51, 51, 51, 0.3);
}
/* .line {
    width: 100%;
    border-bottom: 2px solid #000;
    position: absolute;
    z-index: 2;
    top: 77px;
} */
nav .nav_box{
    position: relative;
    overflow: hidden;
    background: #fff;
}
nav .main_menu {
    float: right;
}
nav .main_menu>li{
    width: 110px;
    float: left;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 1em;
    margin-right: 1em;
}
.main_menu>li> a{
    text-align: center;
    display: block;
    padding: 10px;
    height: 50px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
.nav_line {
    width: 90px;
    height: 3px;
    background: #2e3192;
    position: absolute;
    bottom: 0;
    left: 8px;
    display: none;
}
/* sub_menu */
.sub_menu{
    opacity: 0;
    float: right;
    transition: 0.4s;
}

.sub_menu{
    float: left;
    height: 300px;
    height: 0;
}
.sub_menu ul li{
    width: 150px;
    height: 40px;
    padding-top: 10px;
} 

.sub_menu>li a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 0;
    height: 50px;
    display: block;
    font-size: 15px;

}
.sub_menu>li a:hover{
    color: #2e3192;
    font-weight: bold;
}
.main_menu:hover .sub_menu{
    opacity: 1;
    height: 300px;
}


/* 비쥬얼섹션 */

.main-visual{
    max-width: 100%;
    min-width: 768px;
    height: 360px;
    background-image: url("../images/location_img.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center center;
    position: relative;
}
.visual-text{
    padding-left: 20px;
    position: absolute;
    /* margin-left: 100px; */
    /* margin-top:-125px; */
    color: white;
    top: 170px;
}  
.visual-text h1{
    margin-bottom: 10px;
    font-size: 2rem;
}
.visual-text h3 {
    font-weight: normal;
}
.mainvisual-bottom{
    background: #2e3192;
    width: 100%;
    min-width: 768px;
    height: 60px;
    position: relative;
    margin-bottom: 1rem;
}
.mainvisual-bottom-menu{
    max-width: 1200px;
    min-width: 768px;
    margin: 0% auto;
    overflow: hidden;
    position: relative;
}
.mainvisual-bottom-menu li{
    float: left;
    width: 150px;
    text-align: center;
    
}
.mainvisual-bottom-menu li a{
    color: white;
    display: block;
    width: 150px;
    font-size: 1.3rem;
    padding-top:15px;
    padding-bottom: 15px;
}
.mainvisual-bottom-menu li a:hover {
    background: #fff;
    color: #666;
}

.mainvisual-bottom-menu .active{
    background: white;
    /* border: 1px solid #2e3192; */
}
.mainvisual-bottom-menu .active a{   
    color: #666666;
}
.breadcrumbs{
    padding-right: 20px;
    text-align: right;
    color: #777;
    font-size: 0.8rem;
    /* border: 1PX solid RED; */
}
.breadcrumbs span{
    font-weight: bolder;
    color: #333;
}

/* 찾아오시는 길 지도 섹션 */
/* 지도메뉴 */
.map h1{
    padding-left: 20px;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.map-content{
    width: 100%;
    min-width: 768px;
}
.map-menu{
    overflow: hidden;
    width: 100%;
}
.map-menu li{
    width: 33.3333%;
    height: 50px;
    float: left;
    text-align: center;
    border-right: 1px solid white;
    background: #ccc;
}
.map-menu li:first-child{
    border-left: 1px solid #ccc;
}
.map-menu li:last-child{
    border-right: none;
}
.map-menu li.choice{
    background: #2e3192;
    
}
.map-menu li.choice a{
    color: white;
}
.map-menu li a{
    display: block;
    height: 50px;
    padding-top: 10px;
}
.map-menu li:hover{
    background: #2e3192;
}
.map-menu li:hover a{
    color: white;
}

/* 지도 */
.google-map{
    width: 100%;
    min-width: 768px;
    margin-top: 1rem;
    overflow: hidden;
}
.map-list{
    width: 300%;
    min-width: 768px;
    overflow: hidden;
}
.map-list li{
    float: left;
    width: 33.3333%;
}
/* 약도 */
.yagdo-list{
    width: 100%;
    min-width: 768px;
    overflow: hidden;
    margin-top: 1rem;
    border: 1px solid #ccc;
}
.yagdo h1{
    padding-left: 20px;
    margin-top:2rem;
}
.yagdo-left{
    width: 50%;
    float: left;
    padding-top: 30px;
}
.yagdo-left >img{
    width: 100%;
}
.yagdo-right{
    width: 50%;
    float: left;
    padding-top: 30px;

}
.traffic li{
    overflow: hidden;
    margin-bottom: 1rem;
}
.traffic li div:first-child{
    width: 80px;
}
.traffic li div:last-child{
    width: 80%;
}
.traffic li div{
    float: left;
}
.traffic li div p {
    font-size: 15px;
    margin-left: 20px;
}
@media(max-width:865px){
    .yagdo-left{
        width: 100%;
        clear: both;
    }
    .yagdo-right{
        width: 100%;
        clear: both;
        padding: 10px;
        margin-left: 40px;
    }
}


/* footer  */
footer{
    margin-top: 100px;
    min-width: 768px;
    width: 100%;
    height: 110px;
    background: #F9F9F9;
    border-top: 1px solid #ccc;
}
footer .container {
    position: relative;
}
.footer-text{
    text-align: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}
.footer-text .left {
    margin-bottom: 10px;
}
.footer-text .left li {
    display: inline-block;
    margin-right: 0.5em;
}
.left li a:hover {
    font-weight: bold;
}
.left li a.none:hover {
    font-weight: normal;
}

.footer-text p{
    font-size: 0.8rem;
}
.go-top {
    position: relative;
}
.go-top a {
    display: block;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 30px;
}
.go-top a i {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media(max-width:900px){
    /* header */
    nav .main_menu>li {
        margin-left: 0.3em;
        margin-right: 0.3em;
        transition: 0.4s;
    }
}